$card-bg-color: #ffffff;
$card-border-radius: 8px;
$card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$card-hover-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
$card-width: 300px;

$color-primary: #333;
$color-secondary: #777;
$color-tertiary: #999;
$color-type-bg: #b170d9;
$color-type-text: #ffffff;

$font-size-title: 1.5em;
$font-size-author: 0.9em;
$font-size-date: 0.8em;
$font-size-preview: 1em;
$font-size-type: 0.8em;